nav p {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  height: 100px;
}

.ebook {
  border: var(--dark_orange) solid 5px;
  width: 400px;
  height: 500px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
 

.botaoLaranja {
  margin: auto;
}

.principal {
  align-items: flex-start;
}